@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #0E0E0E;
  --foreground: #FFFFFF;
  --card: #151515;
  --card-foreground: #FFFFFF;
  --popover: #151515;
  --popover-foreground: #FFFFFF;
  --primary: rgb(199, 148, 10);
  --primary-foreground: #0E0E0E;
  --secondary: #1B1B1B;
  --secondary-foreground: #FFFFFF;
  --muted: #1A1A1A;
  --muted-foreground:   #f1efee;
  --accent: #C7940A;
  --accent-foreground: #0E0E0E;
  --destructive: #C81E1E;
  --destructive-foreground: #FFFFFF;
  --border: #2A2A2A;
  --input: #1A1A1A;
  --ring: #F5C542;
  --chart-1: #F5C542;
  --chart-2: #FFD700;
  --chart-3: #1B1B1B;
  --chart-4: #B0B0B0;
  --chart-5: #FFFFFF;
  --radius: 0.5rem;
  --sidebar: #0E0E0E;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #F5C542;
  --sidebar-primary-foreground: #0E0E0E;
  --sidebar-accent: #1B1B1B;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #2A2A2A;
  --sidebar-ring: #F5C542;

  /*sidebar*/
  --sb-title: #181717;     /* títulos: VISCOSIDAD, CATEGORIAS */
--sb-text: #B0B0B0;      /* texto normal */
--sb-muted: #6F6F6F;     /* apagado / contadores */
--sb-accent: #F5C542;   /* hover / activo */
--sb-border: #2A2A2A;
}


body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}




body { background-image: url('/images/fondo10.jpeg');
   background-size: cover; 
   background-attachment: fixed; 
   background-position: center; 
   background-repeat: no-repeat; 
  }

/*
codigo para dar claridad al fondo
body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background:
    linear-gradient(
      rgba(255,255,255,0.10),
      rgba(255,255,255,0.10)
    ),
    url('/images/fondo2.jpeg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}
*/
.dark {
  --background: #0E0E0E;
  --foreground: #FFFFFF;
  --card: #151515;
  --card-foreground: #FFFFFF;
  --popover: #151515;
  --popover-foreground: #FFFFFF;
  --primary: #F5C542;
  --primary-foreground: #0E0E0E;
  --secondary: #1B1B1B;
  --secondary-foreground: #FFFFFF;
  --muted: #1A1A1A;
  --muted-foreground: #B0B0B0;
  --accent: #F5C542;
  --accent-foreground: #0E0E0E;
  --destructive: #C81E1E;
  --destructive-foreground: #FFFFFF;
  --border: #2A2A2A;
  --input: #1A1A1A;
  --ring: #F5C542;
  --chart-1: #F5C542;
  --chart-2: #FFD700;
  --chart-3: #1B1B1B;
  --chart-4: #B0B0B0;
  --chart-5: #FFFFFF;
  --sidebar: #0E0E0E;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #F5C542;
  --sidebar-primary-foreground: #0E0E0E;
  --sidebar-accent: #1B1B1B;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #2A2A2A;
  --sidebar-ring: #F5C542;

  /*sidebar*/
  --sb-title: #231e1e;
  --sb-text: #CFCFCF;
  --sb-muted: #7A7A7A;
  --sb-accent: #F5C542;
  --sb-border: #2A2A2A;
}

@theme inline {
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sb-title: var(--sb-title);
--color-sb-text: var(--sb-text);
--color-sb-muted: var(--sb-muted);
--color-sb-accent: var(--sb-accent);
--color-sb-border: var(--sb-border);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* animaciones para about carrusel dinamico*/ 
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 25s linear infinite;
}
.pause-on-hover:hover {
  animation-play-state: paused;
}
.paused {
  animation-play-state: paused;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.92);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.25s ease-out;
}